################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Final Student DHM/.vs/
/Final Student DHM/.vs/Final Student DHM/v16/
/Final Student DHM/.vs/Final Student DHM/v16/Server/sqlite3/
/Final Student DHM/bin/
/Final Student DHM/obj/
**/suo